@font-face {
    font-family: "wght";
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    src: url('../assets/fonts/static/WorkSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "wght";
    src: url('../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "wght";
    src: url('../assets/fonts/static/WorkSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "wght";
    src: url('../assets/fonts/static/WorkSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    --lightPink: hsl(275, 100%, 97%);
    --white: hsl(0, 0%, 100%);
    --graishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
    --purple: hsl(281, 83%, 54%)
}

body {
    background-color: var(--lightPink);
    margin: 0;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.background-container {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 0;
}

#background {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.accordion-container {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.accordion {
    font-family: 'wght', sans-serif;
    background-color: var(--white);

    padding: 1rem 1.5rem 3rem 1.5rem;
    max-width: 26rem;

    border-radius: 0.625rem;
}

#accordion-title {
    display: flex;
    align-items: center;
}

#accordion-title > h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--darkPurple);
}

#accordion-title > img {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.accordion .accordion-list > li > hr {
    background-color: whitesmoke;
    color: whitesmoke;
    border: none;
    height: 1px;
}

.accordion ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion .accordion-list .accordion-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.accordion .accordion-list .accordion-item .accordion-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accordion .accordion-list .accordion-item .accordion-summary > label {
    font-size: 1.5rem;
    width: 20rem;
    font-weight: 700;
    color: var(--darkPurple);
}

.accordion .accordion-list .accordion-item .accordion-summary:hover > label {
    cursor: pointer;
    color: var(--purple);

}

.accordion .accordion-list .accordion-item .accordion-summary > input {
    margin-bottom: .5rem;
}

.accordion-details {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s ease-out
}
.accordion-details.show {
    opacity: 1;
    max-height: 90vh;
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s ease-in
}

.accordion .accordion-list .accordion-item .accordion-details > p {
    color: var(--graishPurple);
    font-size: clamp(1rem, 1.1rem ,1.2rem);
}

/* Hide default radio button */
.accordion .accordion-list .accordion-item .accordion-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2rem; /* Adjust width */
    height: 2rem; /* Adjust height */
    border-radius: 50%;
    outline: none;
    position: relative;
    cursor: pointer;
}

/* Unchecked state */
.accordion .accordion-list .accordion-item .accordion-radio::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/icon-plus.svg'); /* Replace with your image */
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease; /* Smooth transition */
}

/* Checked state */
.accordion .accordion-list .accordion-item .accordion-radio:checked::before {
    opacity: 0; /* Hide unchecked image when checked */
}

/* Custom checked image */
.accordion .accordion-list .accordion-item .accordion-radio:checked::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/icon-minus.svg'); /* Replace with your image */
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0.313rem;
}

@media (min-width: 768px) {
    .accordion {
        max-width: 40rem;
    }
}
